In [1]:
import numpy as np
import pandas as pd

In [5]:
company = pd.read_csv('Fortune501.csv', encoding='ISO-8859-1')

In [19]:
company

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.8%,"$13,643.0",-7.2%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.1%,"$24,074.0",0.0%,"$6,20,854","$4,11,035"
2,3,Apple,"1,16,000",3.0,"$2,15,639",-7.7%,"$45,687.0",-14.4%,"$3,21,686","$7,53,718"
3,4,Exxon Mobil,"72,700",2.0,"$2,05,004",-16.7%,"$7,840.0",-51.5%,"$3,30,314","$3,40,056"
4,5,McKesson,"68,000",5.0,"$1,92,487",6.2%,"$2,258.0",53.0%,"$56,563","$31,439"
...,...,...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,"31,000",517.0,"$5,197",5.8%,$378.2,4.2%,"$2,148","$4,229"
496,497,Toll Brothers,"4,200",576.0,"$5,170",23.9%,$382.1,5.2%,"$9,737","$5,872"
497,498,Yahoo,"8,500",513.0,"$5,169",4.0%,-$214.3,-,"$48,083","$44,391"
498,499,Vistra Energy,"4,431",NaN,"$5,164",-,-,-,"$15,167","$6,968"
499,500,ABM Industries,"1,10,000",485.0,"$5,145",-2.8%,$57.2,-25.0%,"$2,281","$2,428"

In [22]:
sector=company.groupby('Revenue Change')

In [23]:
len(sector)

288

In [24]:
len(company)

500

In [25]:
sector.size()

Revenue Change
-        6
-0.1%    2
-0.4%    6
-0.5%    4
-0.6%    2
        ..
9.8%     1
9.9%     1
91.8%    1
92.6%    1
94.5%    1
Length: 288, dtype: int64

In [26]:
sector.first() #this gives first entry of that group

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Profits,Profit Change,Assets,Market Value
Revenue Change,,,,,,,,,
-,59,Hewlett Packard Enterprise,"1,95,000",432.0,"$50,123","$3,161.0",-,"$79,679","$39,288"
-0.1%,316,Thrivent Financial for Lutherans,"3,282",318.0,"$8,777",$587.8,-23.6%,"$88,561",-
-0.4%,44,PepsiCo,"2,64,000",44.0,"$62,799","$6,329.0",16.1%,"$74,129","$1,59,763"
-0.5%,94,3M,"91,584",93.0,"$30,109","$5,050.0",4.5%,"$32,906","$1,14,338"
-0.6%,175,Freeport-McMoRan,"30,000",175.0,"$15,789","-$4,154.0",-,"$37,317","$19,310"
...,...,...,...,...,...,...,...,...,...
9.8%,56,Lockheed Martin,"97,000",60.0,"$50,658","$5,302.0",47.1%,"$47,806","$77,557"
9.9%,283,Autoliv,"65,900",310.0,"$10,074",$567.1,24.1%,"$8,234","$9,032"
91.8%,191,XPO Logistics,"87,000",353.0,"$14,619",$69.0,-,"$11,698","$5,338"
92.6%,427,TreeHouse Foods,"16,027",686.0,"$6,175",-$228.6,-298.9%,"$6,546","$4,813"
94.5%,467,Olin,"6,400",761.0,"$5,551",-$3.9,-,"$8,763","$5,444"

In [27]:
sector.groups

{'-': [58, 299, 398, 434, 481, 498], '-0.1%': [315, 491], '-0.4%': [43, 67, 89, 103, 152, 430], '-0.5%': [93, 106, 279, 287], '-0.6%': [174, 220], '-0.7%': [335], '-0.8%': [136, 369], '-0.9%': [71, 123, 221, 403, 409, 418, 451], '-1.0%': [120, 182], '-1.1%': [477], '-1.2%': [76, 270], '-1.3%': [61], '-1.4%': [21, 168, 229], '-1.5%': [338], '-1.6%': [23, 157], '-1.7%': [291], '-1.8%': [85, 177, 206], '-10.0%': [203, 295], '-10.1%': [337], '-10.2%': [54], '-10.6%': [250, 422], '-10.7%': [444], '-10.8%': [196, 216], '-10.9%': [81, 163], '-11.0%': [78], '-11.1%': [64, 102], '-11.3%': [278], '-11.5%': [290], '-12.0%': [112, 126], '-12.1%': [440], '-12.2%': [92], '-12.5%': [108], '-12.6%': [355], '-12.8%': [140], '-13.0%': [307], '-13.5%': [50], '-14.2%': [36], '-14.3%': [363], '-14.4%': [464], '-14.7%': [116], '-14.8%': [121], '-15.0%': [456], '-15.8%': [228], '-16.7%': [3, 404], '-16.9%': [33], '-18.0%': [18, 73], '-18.1%': [277], '-18.4%': [443], '-19.5%': [376, 487], '-2.0%': [66, 364, 388], '-2.1%': [154], '-2.2%': [243, 254, 274], '-2.3%': [212, 493], '-2.4%': [159, 248, 372], '-2.5%': [211], '-2.6%': [70], '-2.7%': [149], '-2.8%': [370, 499], '-2.9%': [19, 74, 210], '-20.0%': [336], '-20.1%': [333], '-20.4%': [273], '-20.9%': [348], '-21.3%': [114], '-23.4%': [225], '-27.1%': [360], '-3.1%': [31, 80, 111, 166, 195], '-3.2%': [160, 384], '-3.3%': [391], '-3.5%': [82], '-3.6%': [331, 396], '-3.7%': [293], '-3.8%': [77, 215, 233, 238, 485], '-3.9%': [446], '-30.1%': [236], '-32.8%': [172], '-37.5%': [284], '-38.3%': [342], '-38.7%': [387], '-4.0%': [139, 357], '-4.3%': [13, 473], '-4.4%': [489], '-4.5%': [193, 330], '-4.6%': [306], '-4.7%': [323], '-4.8%': [109, 143], '-4.9%': [265], '-41.7%': [378], '-45.0%': [227], '-5.0%': [416, 483], '-5.1%': [350], '-5.2%': [181], '-5.4%': [309], '-5.5%': [63, 332], '-5.7%': [100], '-5.8%': [37, 129, 132, 262, 469], '-5.9%': [223, 283], '-50.9%': [374], '-51.4%': [421], '-53.3%': [60], ...}

In [33]:
sector.get_group('94.5%').shape[0]

1

In [34]:
sector.sum

In [35]:
sector.mean